#txx {
   -fx-font-size: 19px;
   -fx-fill: #818181;
   -fx-background-color: EE2E12;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button
{
   -fx-background-color: EE2E12;
}

.text-field
{
	-fx-pref-width: 180pt;
	-fx-pref-height: 30pt;
	   -fx-font-size: 14px;

}